@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

body{
    font-family: 'Baloo Tammudu 2', cursive;
    background-color:#e2e6df;
}

.navBar{
    background-color: #303a52;
    color: white;
    padding: 3vh 0px 1vh;
}

.navBarBelt{
    font-family: 'Kalam', cursive;
    font-size: 7vh;
    padding: 1vh 0px 0px;
}

.navBeltTwo{
    padding: 0px 5vw 0px;
}

.navBeltCategory .btn{
    color: dimgrey;
    border-radius: 0px;
    border: 0px;
}

.navBeltTwoInputGroup{
    background-color: white;
    border-radius: 2px;
}

.navbarSearchInput{
    border: none;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

.btnNavBarSearch{
    border: none;
    border-radius: 0px;
}

.btnNavBarSearch img{
    height: 3vh;
}

.navBarBeltThree ul{
    font-size: 2.5vh;
    
}

.navBarBeltThree ul li a{
    color: white;
}

.dropdown-toggle{
    color: white;
}

.dropdown-item:hover{
    background-color: #071a52;
    color: white;
}

.categories{
    text-align: center;
    padding: 3vh 0px;
    background-color: #fff;
}

.categories .categoriesCompart{
    padding: 4vh 0px 0px;
}

.categories img{
    height: 9vh;
}

.categories h5{
    padding: 3vh 0px 0px;
}

.registerWithUs{
    background-color: #9e579d;
    font-size: 2.2vh;
    color: white;
    padding: 1vh 3px;
}

.blockOne button{
    background-color: transparent;
    border: none;
    color: white;
}

.blockTwo button{
    background-color: transparent;
    border: none;
    color: white;
}

.footer-intro{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin-top: 20px; /* This will center the border. */
    width: 30%; /* Change this to whatever width you want. */
 /* This creates some space between the element and the border. */
    border-bottom: 1px solid rgba(211, 206, 206, 0.836); /* This creates the border. Replace black with whatever color you want. */
}

.advertiseCardBody p{
    color: black;
}

.card-img-top{
    height: 30vh;
}

.requirement{
    background-color: #574b90;
    padding: 5vh;
    color: white;
}

.requirement span{
    font-size: 2.5vh;
}

.requirementNestedForm form{
    display: inline-block;
    justify-content: center;
}

.requirementFormGroup > input{
    background-color: #574b90;
    border: none;
    border-bottom: 1px solid white;
    transition: .4s;
}

.requirementFormGroup > input::placeholder{
    color: #fff;
}

.requirementFormGroup > input::-ms-input-placeholder {
    color: #fff;
}
.btn-primary{
    padding: 1vh 13px 0px;
    border-radius: 13px;
}
.navArrow{
    height: 24px;
    padding: 0px 51px 3px;
}

.form-group{
    padding: 1vh 0px;
}

.card{
    height: 100%;
}

.tabset{
    font-size: 2.3vh;
    padding: 2vh 0px 0px;
}

/* Footer Css */

.footer{
    background-color: #303a52;
    color: blanchedalmond;
}
.footer-icon fa-icon{
    font-size: 20px;
    margin-left: 8px;
    background-color: #0363CD;
    border-radius: 3px;
    padding: 10px;
    transition: 0.5s;
}

.footer-icon fa-icon:hover{
    background-color: gold;
    color: black;
}

.footer-list{
    padding: 0px;
}

.footer-list li{
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
}

.footer-list li a{
    color: white;
}

.supplierSignInFormControl{
    border: none;
    border-bottom: 1px solid gray;
}

.inputGroupSvg{
    transform: translateY(3px);
}

.tabset li{
    padding:0px 2vw 0px;
}

/*Media Query*/

@media only screen and (max-width : 600px){

    .blockOne{
        border-bottom: 10px solid white;
    }

    .blockTwo button{
        transform: translateY(30%);
    }

    .advertiseContainer{
        padding: 5px 0px;
    }

    .advertiseCardColumn{
        padding: 0px;
    }

    .advertiseCardBody{
        padding: 5px;
    }

    .advertiseCardBody h5{
        padding-bottom: 0px;
        padding-left: 15px;
    }

    .advertiseCardBody p{
        padding-bottom: 0px;
        padding-left: 15px;
    }
}

@media only screen and (min-width : 600px){


    .supplierSignInFormControl{
        width: 22vw;
    }

    .blockOne{
        border-right: 1px solid rgba(211, 206, 206, 0.836);
    }

    .requirementFormGroup{
        width: 30vw;
    }
}