    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kisan Janab | Product Display</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- External CSS -->
        <link rel="stylesheet" href="productDisplay.css">
        <link rel="stylesheet" href="HomeTwo.css">
    </head>
    <body>

    <div class="row m-0 navBar">
        <div class="col-sm-2 col-md-4 col-lg-2 order-lg-2 order-lg-2 text-center navBarBelt">
            <h2>बळीराजा</h2>
        </div>
        <div class="col-sm-5 col-md-8 col-lg-5 order-lg-1 order-lg-1 navBeltTwo">
            <div class="input-group mb-3 navBeltTwoInputGroup">
            <div class="input-group-prepend navBeltCategory">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</button>
                <div class="dropdown-menu">
                <!-- Drop down List---------------------------------- -->
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                            <h6>Farming Tools, Equipment & Machines</h6>
                            <ul>
                                <li>  Agricultural Implements </li>
                                <li>  Agricultural Equipment</li>
                                <li>  Agricultural Pipes</li>
                                <li> Agro Shade Net</li> 
                                <li>  Agricultural Sprayers</li>
        
                            </ul>
                        </div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                            <h6>Flowers, Plants & Trees</h6>
                            <ul>
                                <li>Fresh Flower</li>
                                <li>Garden Plant</li>
                                <li>Flowering Plant</li>
                                <li>Rose Flower</li>
                                <li>Decorative Plant</li>
                            </ul>
        
                        </div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                            <h6>Seeds and Plant Saplings</h6>
                            <li>Cumin Seeds</li>
                            <li>Seeds</li>
                            <li>Coriander Seed</li>
                            <li>Mustard Seeds</li>
                            <li>Wheat Seeds</li>
                        </div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                            <h6>Tractor, Tractor Parts & Assemblies</h6>
                            <li>Tractor Spare Parts</li>
                            <li>Tractor</li>
                            <li>Cultivator</li>
                            <li>Rotavator</li>
                            <li>Tractor Trolleys</li>
                        </div>
                    </div>
                </div>
                <!-- Drop Down list Ending--------------------------- -->
                </div>
            </div>
            <input type="text" class="form-control navbarSearchInput" aria-label="Text input with dropdown button" placeholder="Search Product..">
        
                <div class="input-group-append">
                <button class="btn btn-outline-secondary btnNavBarSearch" type="button"><img src="assets/searchBlack.svg" class = "img-fluid" alt="searchIcon"></button>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-12 col-lg-5 order-lg-3 order-md-3 navBarBeltThree">
            <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Blogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target=".supplierSignUp">List Business</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Get Quotes</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: transparent;
                border: transparent; font-size: 2.5vh;">
                    Login
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#supplierSignIn">Seller</button>
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#customerSignIn">Customer</button>
                </div>
                </div>
                </li>
            <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
        </ul>
        </div>
    </div>

    <div class="container-fluid">
        <!-- ----------Navbar Position -->
        <div class="row">
            <div class="col-sm-2 col-md-3 col-lg-2 p-0 categoriesBelt">
                <div class="sidenav ml-1">            
                    <h5 class="my-2 mx-2 text-center border-bottom">Filter</h5>
                    <ul class="navbar-nav nav flex-column">
                        <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="collapse" data-target="#coladrop1" aria-expanded="true" aria-controls="coladrop1">
                                    Related Categories
                                </a>
                                <div class="collapse show" id="coladrop1" aria-labelledby="dropdownMenuButton" data-parent="#accordion">
                                    <a class="dropdown-item active" href="#maindiv">Agricultural Implements</a>
                                    <a class="dropdown-item" href="#">Agricultural Machinery</a>
                                    <a class="dropdown-item" href="#">Agricultural Machine Parts</a>
                                    <a class="dropdown-item" href="#">Agricultural Tools</a>
                                    <a class="dropdown-item" href="#">Farm Equipment</a>
                                    <a class="dropdown-item" href="#">Agricultural Tray</a>
                                    <a class="dropdown-item" href="#">Agricultural Ridger</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Agricultural Gyrovator</a>
                                    <a class="dropdown-item" href="#">Agricultural Wire</a>
                                    <a class="dropdown-item" href="#">Agricultural Tanks</a>
                                    <a class="dropdown-item" href="#">Sugarcane stubble shaver</a>
                                    <a class="dropdown-item" href="#">Agricultural Processing Plants</a>
                                </div>                 
                        </li>

                        <li class="nav-item dropdown">    
                            <a class="nav-link dropdown-toggle" role="button" data-toggle="collapse" data-target="#coladrop2" aria-expanded="false" aria-controls="coladrop2">
                                Brands
                            </a>
                            <div class="collapse" id="coladrop2" aria-labelledby="dropdownMenuButton" data-parent="#accordion">
                                <a class="dropdown-item" href="#">PVC Pipes</a>
                                <a class="dropdown-item" href="#">UPVC Pipes</a>
                                <a class="dropdown-item" href="#">PVC Garden Pipes</a>
                                <a class="dropdown-item" href="#">Agricultural HDPE Pipes</a>
                                <a class="dropdown-item" href="#">LDPE Pipes</a>
                                <a class="dropdown-item" href="#">Suction Pipe</a>
                                <!-- <a class="dropdown-item" href="#">HDPE Coil Pipes</a>
                                <a class="dropdown-item" href="#">Lateral Pipes</a>
                                <a class="dropdown-item" href="#">MDPE Pipes</a>
                                <a class="dropdown-item" href="#">HDPE Sprinkler Pipes</a>
                                <a class="dropdown-item" href="#">UPVC Pressure Pipes</a>
                                <a class="dropdown-item" href="#">Grey Pipes</a>
                                <a class="dropdown-item" href="#">LDPE Lay Flat Pipes</a>
                                <a class="dropdown-item" href="#">Hdpe Tube</a> -->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-10 col-md-9 col-lg-10 productFrame">
                <div class="row rowProduct">
                    <div class="col-sm-3 col-md-3 col-lg-3 productImage">
                        <img class="img-fluid" src="https://5.imimg.com/data5/QL/DP/MY-2599588/husqvarna-tf544-power-tiller-500x500.jpg" alt="Advertisement Pic">
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 productDescription">
                        <h5 class="card-title">Husqvarna TF 544 Power Tiller</h5>
                        <p class="card-text m-0">Commenced in the year 2006, Sunshine Enterprises is counted among the top most companies. We are sole proprietorship based firm.</p>
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-lg-8 productDetails">
                                <p class="productPara"><b>Average width of cut:</b> &nbsp; 2 ft.</p>
                                <p class="productPara"><b>Fuel Tank Capacity:</b> &nbsp; 20 L.</p>
                                <p class="productPara"><b>Engine Type:</b> &nbsp; Four stroke, water cooled, Horizontal, Single cylinder, D1</p>
                                <p class="productPara"><b>Fuel: </b> &nbsp; Diesel</p>
                                <p class="productPara"><b>No. Of Blades:</b> &nbsp; 20 + 2 Straight</p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 productCompany">
                                <p class="productPara">Sreevatsa Agchamp</p>
                                <p class="productPara companyAddress">Tamil Nadu</p>
                                <button type="button" class="btn btn-primary">Get Quote</button> <br>
                                <button type="button" class="btn btn-primary">Contact Supplier</button>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row rowProduct">
                    <div class="col-sm-3 col-md-3 col-lg-3 productImage">
                        <img class="img-fluid" src="https://5.imimg.com/data5/SU/JT/MY-4073263/honda-power-tiller-500x500.jpg" alt="Advertisement Pic">
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 productDescription">
                        <h5 class="card-title">HONDA Power Tiller</h5>
                        <p class="card-text m-0">Commenced in the year 2006, Sunshine Enterprises is counted among the top most companies. We are sole proprietorship based firm.</p>
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-lg-8 productDetails">
                                <p class="productPara"><b>Average width of cut:</b> &nbsp; 2 ft.</p>
                                <p class="productPara"><b>Fuel Tank Capacity:</b> &nbsp; 20 L.</p>
                                <p class="productPara"><b>Engine Type:</b> &nbsp; Four stroke, water cooled, Horizontal, Single cylinder, D1</p>
                                <p class="productPara"><b>Fuel: </b> &nbsp; Diesel</p>
                                <p class="productPara"><b>No. Of Blades:</b> &nbsp; 20 + 2 Straight</p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 productCompany">
                                <p class="productPara">RIS Steel & Company</p>
                                <p class="productPara companyAddress">Warje Pune</p>
                                <button type="button" class="btn btn-primary">Get Quote</button> <br>
                                <button type="button" class="btn btn-primary">Contact Supplier</button>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row rowProduct">
                    <div class="col-sm-3 col-md-3 col-lg-3 productImage">
                        <img class="img-fluid" src="https://5.imimg.com/data5/RM/MN/MY-3865272/rotary-disc-harrow-500x500.jpg" alt="Advertisement Pic">
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 productDescription">
                        <h5 class="card-title">Diesel SHRACHI CHAMPION POWER TILLER 15HP, Model: Engine Model- H18N</h5>
                        <p class="card-text m-0">Commenced in the year 2006, Sunshine Enterprises is counted among the top most companies. We are sole proprietorship based firm.</p>
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-lg-8 productDetails">
                                <p class="productPara"><b>Average width of cut:</b> &nbsp; 2 ft.</p>
                                <p class="productPara"><b>Fuel Tank Capacity:</b> &nbsp; 20 L.</p>
                                <p class="productPara"><b>Engine Type:</b> &nbsp; Four stroke, water cooled, Horizontal, Single cylinder, D1</p>
                                <p class="productPara"><b>Fuel: </b> &nbsp; Diesel</p>
                                <p class="productPara"><b>No. Of Blades:</b> &nbsp; 20 + 2 Straight</p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 productCompany">
                                <p class="productPara">Honda Siel Power Products Limited,</p>
                                <p class="productPara companyAddress">Uttar Pradesh</p>
                                <button type="button" class="btn btn-primary">Get Quote</button> <br>
                                <button type="button" class="btn btn-primary">Contact Supplier</button>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row rowProduct">
                    <div class="col-sm-3 col-md-3 col-lg-3 productImage">
                        <img class="img-fluid" src="https://5.imimg.com/data5/RM/MN/MY-3865272/rotary-disc-harrow-500x500.jpg" alt="Advertisement Pic">
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 productDescription">
                        <h5 class="card-title">Diesel SHRACHI CHAMPION POWER TILLER 15HP, Model: Engine Model- H18N</h5>
                        <p class="card-text m-0">Commenced in the year 2006, Sunshine Enterprises is counted among the top most companies. We are sole proprietorship based firm.</p>
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-lg-8 productDetails">
                                <p class="productPara"><b>Average width of cut:</b> &nbsp; 2 ft.</p>
                                <p class="productPara"><b>Fuel Tank Capacity:</b> &nbsp; 20 L.</p>
                                <p class="productPara"><b>Engine Type:</b> &nbsp; Four stroke, water cooled, Horizontal, Single cylinder, D1</p>
                                <p class="productPara"><b>Fuel: </b> &nbsp; Diesel</p>
                                <p class="productPara"><b>No. Of Blades:</b> &nbsp; 20 + 2 Straight</p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 productCompany">
                                <p class="productPara">RIS Steel & Company</p>
                                <p class="productPara companyAddress">Warje Pune</p>
                                <button type="button" class="btn btn-primary">Get Quote</button> <br>
                                <button type="button" class="btn btn-primary">Contact Supplier</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>